
.header{
    background-color: var(--black);
    min-height: 88px;
    width: 100%;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;

        .header__nav{
            padding-right: 72px;
            
            .nav-menu{
                display: flex;
                list-style-type: none;
    
                li a{
                    font-family: 'Sen';
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    color: var(--white);
                    transition: all 0.2s ease-in;
                    position: relative;
    
                    &:hover::before{
                        content: "";
                        position: absolute;
                        height: 1px;
                        background-color: var(--white);
                        width: 100%;
                        left: 0;
                        bottom: 7%;
                    }
                }
    
                li{
                    padding: 32px 24px;
                }
            }
        }

        .header__logo {
            padding-left: 72px;
        }

        .header__burger {
            display: none;
        }
    }
}


@media (max-width: 1440px) {
    .header {

        .container {

            .header__nav {
                transition: padding-right 0.2s ease-in;
                padding-right: 40px;
            }
        }
    }
}